@media (max-width: 1100px) {
  body.responsive .container,
  body.responsive #masthead .hgroup,
  body.responsive #main,
  body.responsive #top-slider .slides .slide .slide-contents {
    width: auto;
    margin: 0 40px;
  }
}
@media (max-width: 720px) {
  body.responsive #secondary {
    width: auto;
    float: none;
    border-left: none;
    padding-left: 0;
    margin-top: 30px;
  }
  body.responsive #primary {
    width: auto;
    float: none;
    padding-right: 0;
  }
  body.responsive .container,
  body.responsive #masthead .hgroup,
  body.responsive #main,
  body.responsive #top-slider .slides .slide .slide-contents {
    width: auto;
    margin: 0 20px;
  }
  body.responsive #main {
    padding-right: 20px;
    padding-left: 20px;
  }
  body.responsive.mobilenav .main-navigation #searchform {
    display: none;
  }
}
