<li>
<a style="font-size:25px;" href="/" title="{L_INDEX}"><b>IronCoders</b></a>
</li>
<li>
	<a  href="{U_INDEX}" title="{L_INDEX}">Algoritmica</a>
	<ul>
		<li>
			<a href="/arhiva.php" title="{L_INDEX}">Arhiva probleme</a>
		</li>
		<li>
			<a href=/arhiva-educationala" title="{L_INDEX}">Arhiva educationala</a>
		</li>
		<li>
			<a href="/clase.php" title="{L_INDEX}">Clase virtuale</a>
		</li>
                <li>
			<a href="/monitor.php" title="{L_INDEX}">Monitorul de evaluare</a>
		</li>
	</ul>
</li>
<li>
    <a href="{U_INDEX}" title="{L_INDEX}">Competitii</a>
  <ul>
    <li><a href="/competitii.php">Listă</a></li>
     <li><a href="/competitii.php?type=clasament">Clasament</a></li>
  </ul>
</li>
<li>
<a href="{U_INDEX}" title="{L_INDEX}">Cursuri</a>
  <ul>
    <li><a href="/cursuri.php">Listă</a></li>
  </ul>
</li>
<li>
<a href="/blog" title="{L_INDEX}">Blog</a>
</li>