<!-- INCLUDE overall_header.html -->

<!-- IF not S_IS_BOT -->
<div id="second-menu">
<div class="wrap">
	<ul>
		<li>
			<a href="{U_INDEX}" accesskey="h">{L_INDEX}</a>
		</li>
		<!-- BEGIN navlinks -->
		<li class="legend">
			<a href="{navlinks.U_VIEW_FORUM}">{navlinks.FORUM_NAME}</a>
		</li>
		<!-- END navlinks -->

		<!-- IF PAGINATION or TOTAL_POSTS or TOTAL_TOPICS and U_MARK_TOPICS -->
		<li class="right">
			<a href="{U_MARK_TOPICS}" accesskey="m">{L_MARK_TOPICS_READ}</a>
		</li>
		<!-- ENDIF -->

		<!-- IF U_MARK_FORUMS and S_HAS_SUBFORUM -->
		<li class="right">
			<a href="{U_MARK_FORUMS}">{L_MARK_SUBFORUMS_READ}</a>
		</li>
		<!-- ENDIF -->
	</ul>
</div>
</div>
<!-- ENDIF -->

<div id="page-body" class="wrap">

<h2><a href="{U_VIEW_FORUM}">{FORUM_NAME}</a></h2>

<!-- IF FORUM_DESC or MODERATORS or U_MCP -->
<div>
	<!-- NOTE: remove the style="display: none" when you want to have the forum description on the forum body -->
	<!-- IF FORUM_DESC --><div style="display: none !important;">{FORUM_DESC}<br /></div><!-- ENDIF -->
	<!-- IF MODERATORS --><p><strong><!-- IF S_SINGLE_MODERATOR -->{L_MODERATOR}<!-- ELSE -->{L_MODERATORS}<!-- ENDIF -->:</strong> {MODERATORS}</p><!-- ENDIF -->
</div>
<!-- ENDIF -->

<!-- IF S_FORUM_RULES -->
	<div class="info-block">
		<!-- IF U_FORUM_RULES -->
			<a href="{U_FORUM_RULES}">{L_FORUM_RULES}</a>
		<!-- ELSE -->
			<strong>{L_FORUM_RULES}</strong><br />
			{FORUM_RULES}
		<!-- ENDIF -->
	</div>
<!-- ENDIF -->

<!-- IF S_HAS_SUBFORUM -->
	<!-- INCLUDE forumlist_body.html -->
<!-- ENDIF -->

<!-- IF S_DISPLAY_POST_INFO or PAGINATION or TOTAL_POSTS or TOTAL_TOPICS -->
	<div class="topic-actions">

	<!-- IF not S_IS_BOT and S_DISPLAY_POST_INFO -->
		<div class="btn <!-- IF S_IS_LOCKED -->btn-locked<!-- ELSE -->btn-post<!-- ENDIF -->" title="<!-- IF S_IS_LOCKED -->{L_FORUM_LOCKED}<!-- ELSE -->{L_POST_TOPIC}<!-- ENDIF -->">
			<a href="{U_POST_NEW_TOPIC}"><!-- IF S_IS_LOCKED --><i class="fa fa-lock"></i>{L_FORUM_LOCKED}<!-- ELSE --><i class="fa fa-reply"></i>{L_POST_TOPIC}<!-- ENDIF -->
			</a>
		</div>
	<!-- ENDIF -->

	<!-- IF S_DISPLAY_SEARCHBOX -->
		<div class="search">
			<form method="get" action="{S_SEARCHBOX_ACTION}">
			<fieldset>
				<input name="keywords" class="keywords" type="text" size="20" placeholder="{L_SEARCH_FORUM}" />
				<input value="&#xf002;" class="button" type="submit" />
				{S_SEARCH_LOCAL_HIDDEN_FIELDS}
			</fieldset>
			</form>
		</div>
	<!-- ENDIF -->

	<!-- IF PAGINATION or TOTAL_POSTS or TOTAL_TOPICS -->
		<div class="pagination">
			<!-- IF TOTAL_TOPICS -->
			<span class="total">{TOTAL_TOPICS}</span>
			<!-- ENDIF -->
			<!-- IF PAGE_NUMBER -->
			<!-- IF PAGINATION -->
			<a href="#" onclick="jumpto(); return false;" title="{L_JUMP_TO_PAGE}">{PAGE_NUMBER}</a>
			<span class="count">{PAGINATION}</span>
			<!-- ELSE -->
			<span>{PAGE_NUMBER}</span>
			<!-- ENDIF -->
			<!-- ENDIF -->
		</div>
	<!-- ENDIF -->
	</div>
<!-- ENDIF -->

<!-- IF S_NO_READ_ACCESS -->

	<div class="panel">
		<div class="content">
			<strong>{L_NO_READ_ACCESS}</strong>
		</div>
	</div>

	<!-- IF not S_USER_LOGGED_IN and not S_IS_BOT -->

		<form action="{S_LOGIN_ACTION}" method="post">

		<div class="panel">
			<div class="content">
				<h3><a href="{U_LOGIN_LOGOUT}">{L_LOGIN_LOGOUT}</a><!-- IF S_REGISTER_ENABLED -->&nbsp; &bull; &nbsp;<a href="{U_REGISTER}">{L_REGISTER}</a><!-- ENDIF --></h3>

				<fieldset class="fields1">
				<dl>
					<dt><label for="username">{L_USERNAME}:</label></dt>
					<dd><input type="text" tabindex="1" name="username" id="username" size="25" value="{USERNAME}" class="inputbox autowidth" /></dd>
				</dl>
				<dl>
					<dt><label for="password">{L_PASSWORD}:</label></dt>
					<dd><input type="password" tabindex="2" id="password" name="password" size="25" class="inputbox autowidth" /></dd>
					<!-- IF S_AUTOLOGIN_ENABLED --><dd><label for="autologin"><input type="checkbox" name="autologin" id="autologin" tabindex="3" /> {L_LOG_ME_IN}</label></dd><!-- ENDIF -->
					<dd><label for="viewonline"><input type="checkbox" name="viewonline" id="viewonline" tabindex="4" /> {L_HIDE_ME}</label></dd>
				</dl>
				<dl>
					<dt>&nbsp;</dt>
					<dd><input type="submit" name="login" tabindex="5" value="{L_LOGIN}" class="button1" /></dd>
				</dl>
				{S_LOGIN_REDIRECT}
				</fieldset>
			</div>
		</div>

		</form>

	<!-- ENDIF -->

<!-- ENDIF -->

<!-- BEGIN topicrow -->

	<!-- IF not topicrow.S_TOPIC_TYPE_SWITCH and not topicrow.S_FIRST_ROW -->
		</ul>
	</div>
	<!-- ENDIF -->

	<!-- IF topicrow.S_FIRST_ROW or not topicrow.S_TOPIC_TYPE_SWITCH -->
		<div class="forumbg<!-- IF topicrow.S_TOPIC_TYPE_SWITCH and (topicrow.S_POST_ANNOUNCE or topicrow.S_POST_GLOBAL) --> announcement<!-- ENDIF -->">
		<ul class="forumbg-header">
			<li>
				<dl>
					<dt><!-- IF S_DISPLAY_ACTIVE -->{L_ACTIVE_TOPICS}<!-- ELSEIF topicrow.S_TOPIC_TYPE_SWITCH and (topicrow.S_POST_ANNOUNCE or topicrow.S_POST_GLOBAL) -->{L_ANNOUNCEMENTS}<!-- ELSE -->{L_TOPICS}<!-- ENDIF --></dt>
					<dd class="posts-views">{L_REPLIES} / {L_VIEWS}</dd>
					<dd class="lastpost">{L_LAST_POST}</dd>
				</dl>
			</li>
		</ul>
		<ul class="forumbg-content">
	<!-- ENDIF -->

		<li class="row<!-- IF topicrow.S_ROW_COUNT is even --> bg1<!-- ELSE --> bg2<!-- ENDIF --><!-- IF topicrow.S_POST_GLOBAL --> global-announce<!-- ENDIF --><!-- IF topicrow.S_POST_ANNOUNCE --> announce<!-- ENDIF --><!-- IF topicrow.S_POST_STICKY --> sticky<!-- ENDIF --><!-- IF topicrow.S_TOPIC_REPORTED --> reported<!-- ENDIF -->">
			<dl class="icon" style="background-image: url({topicrow.TOPIC_FOLDER_IMG_SRC}); background-repeat: no-repeat;">
				<dt<!-- IF topicrow.TOPIC_ICON_IMG and S_TOPIC_ICONS --> style="background-image: url({T_ICONS_PATH}{topicrow.TOPIC_ICON_IMG}); background-repeat: no-repeat;"<!-- ENDIF --> title="{topicrow.TOPIC_FOLDER_IMG_ALT}"><!-- IF topicrow.S_UNREAD_TOPIC --><a href="{topicrow.U_NEWEST_POST}" class="new-post"><i class="fa fa-file-o"></i></a> <!-- ENDIF --><a href="{topicrow.U_VIEW_TOPIC}" class="topictitle">{topicrow.TOPIC_TITLE}</a>
					<!-- IF topicrow.S_TOPIC_UNAPPROVED or topicrow.S_POSTS_UNAPPROVED --><a class="unapproved-link" href="{topicrow.U_MCP_QUEUE}"><i class="fa fa-question"></i></a> <!-- ENDIF -->
					<!-- IF topicrow.S_TOPIC_REPORTED --><a class="reported-link" href="{topicrow.U_MCP_REPORT}"><i class="fa fa-exclamation"></i></a><!-- ENDIF --><br />
					<!-- IF topicrow.PAGINATION --><strong class="pagination"><span>{topicrow.PAGINATION}</span></strong><!-- ENDIF -->
					<!-- IF topicrow.ATTACH_ICON_IMG --><i class="fa fa-paperclip"></i><!-- ENDIF -->{L_POST_BY_AUTHOR} {topicrow.TOPIC_AUTHOR_FULL} &raquo; {topicrow.FIRST_POST_TIME}
				</dt>
				<dd class="posts-views">{topicrow.REPLIES} <dfn>{L_REPLIES}</dfn> / {topicrow.VIEWS} <dfn>{L_VIEWS}</dfn></dd>
				<dd class="lastpost"><span><dfn>{L_LAST_POST} </dfn>{L_POST_BY_AUTHOR} {topicrow.LAST_POST_AUTHOR_FULL}
					<!-- IF not S_IS_BOT --><a href="{topicrow.U_LAST_POST}"><i class="fa fa-chevron-right"></i></a> <!-- ENDIF --><br />{topicrow.LAST_POST_TIME}</span>
				</dd>
			</dl>
		</li>

	<!-- IF topicrow.S_LAST_ROW -->
			</ul>
	</div>
	<!-- ENDIF -->

<!-- BEGINELSE -->
	<!-- IF S_IS_POSTABLE -->
	<div class="panel">
		<div class="content">
			<strong>{L_NO_TOPICS}</strong>
		</div>
	</div>
	<!-- ENDIF -->
<!-- END topicrow -->

<!-- IF S_SELECT_SORT_DAYS and not S_DISPLAY_ACTIVE -->
	<form method="post" action="{S_FORUM_ACTION}" class="display-options">
		<fieldset>
			<!-- IF PREVIOUS_PAGE --><a href="{PREVIOUS_PAGE}" class="left-box {S_CONTENT_FLOW_BEGIN}">{L_PREVIOUS}</a><!-- ENDIF -->
			<!-- IF NEXT_PAGE --><a href="{NEXT_PAGE}" class="right-box {S_CONTENT_FLOW_END}">{L_NEXT}</a><!-- ENDIF -->
	<!-- IF not S_IS_BOT -->
			<label>{L_DISPLAY_TOPICS}: {S_SELECT_SORT_DAYS}</label><label>{L_SORT_BY}{S_SELECT_SORT_KEY}{S_SELECT_SORT_DIR}</label><label><input type="submit" name="sort" value="{L_GO}" class="button" /></label>
	<!-- ENDIF -->
		</fieldset>
	</form>
<!-- ENDIF -->

<!-- IF .topicrow and not S_DISPLAY_ACTIVE -->
	<div class="topic-actions">

		<!-- IF not S_IS_BOT and S_DISPLAY_POST_INFO -->
		<div class="btn <!-- IF S_IS_LOCKED -->btn-locked<!-- ELSE -->btn-post<!-- ENDIF -->" title="<!-- IF S_IS_LOCKED -->{L_FORUM_LOCKED}<!-- ELSE -->{L_POST_TOPIC}<!-- ENDIF -->">
			<a href="{U_POST_NEW_TOPIC}"><!-- IF S_IS_LOCKED --><i class="fa fa-lock"></i>{L_FORUM_LOCKED}<!-- ELSE --><i class="fa fa-reply"></i>{L_POST_TOPIC}<!-- ENDIF -->
			</a>
		</div>
		<!-- ENDIF -->

		<!-- IF PAGINATION or TOTAL_POSTS or TOTAL_TOPICS -->
		<div class="pagination">
			<!-- IF TOTAL_POSTS and not NEWEST_USER -->
			<span class="total">{TOTAL_POSTS}</span>
			<!-- ELSEIF TOTAL_TOPICS and not NEWEST_USER -->
			<span class="total">{TOTAL_TOPICS}</span>
			<!-- ENDIF -->
			<!-- IF TOTAL_USERS -->
			<span class="total">{TOTAL_USERS}</span>
			<!-- ENDIF -->
			<!-- IF PAGINATION -->
			<a href="#" onclick="jumpto(); return false;" title="{L_JUMP_TO_PAGE}">{PAGE_NUMBER}</a>
			<span class="count">{PAGINATION}</span>
			<!-- ELSE -->
			<span>{PAGE_NUMBER}</span>
			<!-- ENDIF -->
		</div>
		<!-- ENDIF -->
	</div>
<!-- ENDIF -->

<!-- INCLUDE jumpbox.html -->

<!-- IF S_DISPLAY_ONLINE_LIST -->
<div class="secondary-block">
	<div class="secondary-block-header">
		<h3>
		<!-- IF U_VIEWONLINE -->
			<a href="{U_VIEWONLINE}">{L_WHO_IS_ONLINE}</a>
		<!-- ELSE -->
			{L_WHO_IS_ONLINE}
		<!-- ENDIF -->
		</h3>
	</div>
	<div class="secondary-block-content">
		<p>
			{LOGGED_IN_USER_LIST}
		</p>
	</div>
</div>
<!-- ENDIF -->

<!-- IF S_DISPLAY_POST_INFO -->
<div class="secondary-block">
	<div class="secondary-block-header">
		<h3>
			{L_FORUM_PERMISSIONS}
		</h3>
	</div>
	<div class="secondary-block-content">
		<p>
		<!-- BEGIN rules -->
			{rules.RULE}<br />
		<!-- END rules -->
		</p>
	</div>
</div>
<!-- ENDIF -->

</div>

<!-- INCLUDE overall_footer.html -->